<%= form_with(model: block, local: true, class: "space-y-6") do |form| %>
  <% if block.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Error!</strong>
      <ul>
        <% block.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :description, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :priority, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :priority, options_for_select(['Low', 'Medium', 'High'], block.priority), {}, class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :status, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :status, options_for_select(['To Do', 'In Progress', 'Done'], block.status), {}, class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :roles, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :roles, value: block.roles.join(', '), class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    <p class="mt-2 text-sm text-gray-500">Enter roles separated by commas</p>
  </div>

  

  <div>
    <%= form.label :pre_conditions, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :pre_conditions, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :post_conditions, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :post_conditions, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :main_flow, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :main_flow, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :alternative_flow, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :alternative_flow, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :functional_requests, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :functional_requests, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :non_functional_requests, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :non_functional_requests, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :notes, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :notes, rows: 3, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :associated_stations, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :associated_stations, value: block.associated_stations.join(', '), class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    <p class="mt-2 text-sm text-gray-500">Enter associated stations separated by commas</p>
  </div>

  <div>
    <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>